<div class="container mt-4">
    <img src="assets/Star-Wars.jpg" class="img-fluid mx-auto d-block">

    <div class="row justify-content-center">
        <hr>

        <p class="col-12 col-sm-3 text-center fw-bold" routerLink="" routerLinkActive="active"> HOME </p>
        <p class="col-12 col-sm-3 text-center fw-bold" routerLink="starships" routerLinkActive="active"> STARSHIPS</p>
        <p class="col-12 col-sm-3 text-center fw-bold" routerLink="login" routerLinkActive="active"> LOG IN</p>

        <hr>
    </div>

</div>